

/*-------------------------
------ About Styles -------
--------------------------*/

#about {
    background: url("../images/about-bg_1.png") no-repeat;
    background-color: #00f2f4;
    background-position: center bottom;
    background-size: contain;
    background-attachment: fixed;
    /*background-size:100% auto;*/
    overflow: hidden;
    min-height: 750px;
    height: 100%;

}

@media (min-width: 320px){
    #about{
        background-size: 200%;
    }
}

@media (min-width: 600px){
    #about{
        background-size: 150%;
    }
}

@media (min-width: 800px){
    #about{
        background-size: 120%;
    }
}

@media (min-width: 900px){
    #about{
        background-size: contain;
    }
}



/* resume button */

/*.resume-div {*/
    /*!*position: absolute;*!*/
    /*!*min-width: 100%;*!*/
    /*margin-top: 100px;*/
/*}*/

#resume-container {
    top: 100px;
    display: table;
}

#resume-container a {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    padding-left: 12px;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    letter-spacing:0.02em;
    color: white;
    background-color: #969696;
    transition: 0.3s;
}

#resume-container a:hover {
    text-decoration: none;
    background-color: #00f2f4;
    transition: 0.3s;
}


/* scroll button */

.scroll-button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #c2ed71;
    position:absolute;
    bottom:30px;
    left:50%;
    margin-left:-30px;
    padding: 7px 15px 15px 15px;
    font-size:48px;
    /*color: #000000;*/
    -webkit-animation: moving 2s ease-out infinite;
    animation: moving 2s ease-out infinite;
    z-index: 200;
}

.scroll-button:hover,
.scroll-button:focus {
    -webkit-animation: none;
    animation: none;
    background-color: #969696;
}



@-webkit-keyframes moving {
    0% 		{ bottom: 30px; }
    30% 	{ bottom: 10px; }
    60% 	{ bottom: 30px; }
}

@keyframes moving {
    0% 		{ bottom: 30px; }
    30% 	{ bottom: 10px; }
    60% 	{ bottom: 30px; }
}







/********** Two Circles **********/

.pulse-outer-container {
    position: relative;
    top: 50%;
    /*margin-top: 25vmin;*/
    left: 50%;
    margin-left: -37vmin;
    /*border: 1px solid;*/

}

@media (min-width: 320px){
    .pulse-outer-container{
        margin-top: 40vmin;
    }
}

@media (min-width: 600px){
    .pulse-outer-container{
        margin-top: 40vmin;
    }
}

@media (min-width: 768px){
    .pulse-outer-container{
        margin-top: 30vmin;
    }
}

@media (min-width: 900px){
    .pulse-outer-container{
        margin-top: 30vmin;
    }
}

@media (min-width: 1000px){
    .pulse-outer-container{
        margin-top: 25vmin;
    }
}

@media (min-width: 1200px){
    .pulse-outer-container{
        margin-top: 27vmin;
    }
}


.pulse-container{
    position: absolute;
    padding: 0 0 0 -7.5vmin;
    margin: 0;
    text-align: center;
}


.pulse-form {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    padding-top: 6vmin;
    width: 15vmin;
    height: 15vmin;
}





#pulse-1 {
    margin: 0 0 0 -50px;
    background-color: #c2ed71;
    -webkit-animation: pulse-ani-1 2s infinite;
    animation: pulse-ani-1 2s infinite;
}


#pulse-2 {
    margin: 0 -50px 0 0;
    background-color: #00f2f4;
    -webkit-animation: pulse-ani-2 2s infinite;
    animation: pulse-ani-2 2s infinite;
}


.lets{
    position: absolute;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2vmin;
    line-height: 3vmin;
    font-weight: 400;
    color: white;
    left: 50%;
    margin-left: -5vmin;
}

@-webkit-keyframes pulse-ani-1 {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
    0%   { opacity: 0.2; }
    50%  { opacity: 1; }
    100% { opacity: 0.2; }
}
@keyframes pulse-ani-1 {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
    0%   { opacity: 0.2; }
    50%  { opacity: 1; }
    100% { opacity: 0.2; }
}

@-webkit-keyframes pulse-ani-2 {
    0% { transform: scale(1.05); }
    50% { transform: scale(1); }
    100% { transform: scale(1.05); }
    0%   { opacity: 1; }
    50%  { opacity: 0.1; }
    100% { opacity: 1; }
}
@keyframes pulse-ani-2 {
    0% { transform: scale(1.05); }
    50% { transform: scale(1); }
    100% { transform: scale(1.05); }
    0%   { opacity: 1; }
    50%  { opacity: 0.1; }
    100% { opacity: 1; }
}




